*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 8);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

:root {
    --header-bg-color: #2E2F42;
    --hero-bg-color: #2E2F42;
    --our-team-bg-color: #F4F4FD;

}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none
}

.site-body {

}

.header {
    /*-----------HEADER-----------*/
}

.header-navigation {
}

.hedear-list {
}

.header-item {
}

.header-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 170px;
    height: 51px;
    border: none;
    margin: 24px 0 0 0;
}

.header-btn:hover {
    background: #F4F4FD;
    color: #4D5AE5;
}


.hedear-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.hedear-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.header-nav {
}

.link {
}

.header-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-titel {
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 0 24px 0;
}

.hero-after {
    background-color: var(--our-team-bg-color);
}

.header-email:hover,
.header-email:focus {
    color: #4D5AE5
}

.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-tel:hover,
.header-tel:focus {
    color: #4D5AE5
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main {
}


.list {
    list-style: none;
}

.main-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.main-btn:hover {
    background: #404BBF;
    color: #ffffff;
}

.main-btn:focus {
    color: #ffffff;
}

/*-----------HERO-----------*/

.list {
    list-style: none;
}

/*-----------HERO-----------*/

.hero {
    background-color: var(--hero-bg-color);
    text-align: center;

}

.hero-list {

}

.hero-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.hero-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-item {
    cursor: pointer;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}

.footer {
    background: #2E2F42;
}

.footer-logo {
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}


.hero-pri-titel {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.hero-pro-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.hero-pre-item {
    background: #FFFFFF;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    width: 264px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.section {

}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 504px;
}

ul.hedear-list.list {
    display: flex;
    padding: 0;
    width: 261px;
    justify-content: space-around;
}

ul.header-nav.link.list {
    display: flex;
}

.header-nav-email {
    margin: 0 20px 0 0;
}

.header-nav-tel {
    margin: 0 0 0 20px;
}

header.header {
    padding: 24px 0 24px 0;
    background: #FFFFFF;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

ul.hero-list.list {
    display: flex;
    justify-content: space-between;
}

nav.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.hedear-logo {
    margin: 0 77px 0 0;
}

ul.hero-pre-list.list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul.team-list {
    display: flex;
    justify-content: space-between;
}

.hero-after > .container {
    padding: 120px 0 120px 0;
}

.hero-midlle > .container {
    padding: 60px 0 120px 0;
}


.hero-skill > .container {
    padding: 120px 0 60px 0;
}

ul.hero-list.list > li {
    width: 264px;
}

h2.hero-pre-titel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 0 0 72px 0;
    margin: 0;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

p.footer-text {
    width: 264px;
    margin: 16px 0 0 0;
}

p.hero-pro-titel {
    margin: 4px 0 32px 0;
}

h3.hero-pri-titel {
    margin: 32px 0 8px 0;
}

button.main-btn {
    padding: 8px 16px;
}

ul.portfolio-list.list {
    display: flex;
    justify-content: space-between;
    width: 586px;
    margin: 96px auto 0 auto;
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li.project-item {
    margin: 40px 0px 80px 0px;
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}

li.project-item:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
cursor: pointer;
}

h2.projects-title {
    margin: 32px 16px 4px 16px;
}
p.projects-text {
    margin: 4px 16px 32px 16px;
}